<app-loading [data]="projects"></app-loading>
<div class="project" *ngIf="projects.length > 0">
  <h1 class="cent">Our current and future projects</h1>
  <div class="carousel">
    <mat-carousel [autoplay]="true" color="accent" maxWidth="20" [loop]="true" [hideArrows]="false"
      [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide *ngFor="let project of projects | sortBy:['modified', 'DESC']"
        [image]="project.featured_image_url" overlayColor="#000000" [hideOverlay]="true" slides="15">
        <h2 class="carousel-item-description">{{project?.title?.rendered}}</h2>
      </mat-carousel-slide>

    </mat-carousel>
  </div>
  <!-- <div class="row">
    <div class="col-md-6" *ngFor="let project of projects | sortBy:['modified', 'DESC']">

      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{project?.title?.rendered}}</mat-card-title>
        </mat-card-header>
        <img *ngIf="project?.featured_image_url" mat-card-image [src]="project?.featured_image_url"
          [alt]="project?.slug">
        <mat-card-content>
          <p [innerHTML]="project?.content?.rendered"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->
</div>