<app-loading [data]="content"></app-loading>
<div *ngIf="content?.length > 0" class="blog" [ngClass]="{'is-mobile': isMobilePhone || isMobileLandscape}">
  <div class="filter">
    <form #memberSearch="ngForm">
      <mat-form-field class="mat-select">
        <mat-icon class="mat-prefix" matPrefix>search</mat-icon>
        <input aria-label="search" name="search" matInput ngModel matInput value=""
          placeholder="Search for post by title">
        <button type="button" *ngIf="memberSearch.value.search" mat-button matSuffix mat-icon-button aria-label="Clear"
          (click)="memberSearch.reset()">
          <mat-icon class="search-close-btn">close</mat-icon>
        </button>

      </mat-form-field>
    </form>
    <mat-form-field>
      <mat-label>Sort By:</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="DESC">Latest posts</mat-option>
        <mat-option value="ASC">Old posts</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage - 1"
    (page)="onPageChange($event)">
  </mat-paginator>

  <ng-container
    *ngFor="let wp of content | sortBy:['modified', selected] | search:'slug,type': memberSearch.value.search;">
    <div class="blog-container">
      <div class="pic-holder" [hidden]="isMobilePhone">
        <!-- <img src="{{wp.featured_image_url}}" alt=""> -->
        <p class="excerpt-text" *ngIf="!wp.featured_image_url" [innerHTML]="wp.excerpt.rendered"></p>
      </div>
      <div class="content">
        <h3 class="event-title">{{wp?.title.rendered}}<span class="date"> last updated: {{wp?.modified | date}}</span></h3>
        <div [innerHTML]="wp.content.rendered"></div>
      </div>
    </div>
  </ng-container>
 <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="currentPage - 1"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>