<nav class="navbar navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div class="navbar-brand">
        <a routerLink="/home">
            <img alt="logo" src="../../../assets/logo.png">
            <span> Sagamu Union (GB)</span></a>
    </div>
    <button (click)="toggleMobileNav()" [ngClass]="{'colorNavButtons' : showNav}" class="navbar-toggler" type="button"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span *ngIf="!showNav" class="navbar-toggler-icon"></span>
        <svg *ngIf="showNav" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            class="bi bi-x" viewBox="0 0 16 16">
            <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </button>

    <app-navigation class="mobile-nav" [showNav]="showNav"></app-navigation>

</nav>