<div class="sut">
    <div class="intro">
        <h2>What is SUT?</h2>
        <p> SUT is an acronym for <span class="fw-bold">Sagamu Union Tomorrow</span>. It is a section within the
            Union, specifically created to promote the younger adults and also to act as the youthful face of the Sagamu
            Union (GB).</p>

        <h2>Who Can Join?</h2>
        <p>Every member of the union between the ages of 18 - 49 years old automatically belongs to this group, as well
            as being a member of the Union.</p>

        <h2>Current Initiatives of the SUT</h2>
        <ul>
            <li><span class="fw-bold">Yoruba Lessons:</span> In order to promote the spread of the Yoruba language, the
                SUT is organising the Yoruba
                lessons for our youths and children. Please email sut@sagamuunion.org for more details.</li>
            <li><span class="fw-bold">Free Business Hub:</span> Are you a member and want to promote your trade or
                business, the SUT has created a FREE <a href="https://sagamuunion.org/members/su-business-hub/">Business
                    Hub</a> where you can advertise
                your business/trade.</li>
        </ul>


    </div>
    <div class="content">
        <div class="container">
            <img src="../../../../assets/youths/yoruba.jpg" alt="lesson-image" />
        </div>

        <!-- <div class="data">
            <div>
                <span>Name:</span>
                <span class="d-name"> Miss Daniella Odunukan</span>
            </div>
            <div><span>Title:</span>
                <span class="d-name"> Miss Sagamu (UK)</span>
            </div>

            <div>
                <span>Year:</span>
                <span class="d-name"> Current</span>
            </div>
            <div class="more"><button class="youth_btn" (click)="youthDialog()">See more on Youths...</button></div>
        </div>

        <div class="memo">
            <span>eyes </span>
            <mat-icon>remove_red_eye</mat-icon>
            <mat-icon>remove_red_eye</mat-icon>
            <span> of our youths!</span>
        </div>
    </div> -->
    </div>