<div class="carousel-holder">
  <div class="carousel">
    <mat-carousel [autoplay]="true" color="accent" maxWidth="20" [loop]="true" [hideArrows]="false"
      [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#000000"
        [hideOverlay]="true" slides="15">
        <div *ngIf="showSlideDescription" class="carousel-item-description">{{slide?.description}}</div>
      </mat-carousel-slide>

    </mat-carousel>
  </div>
</div>