<div class="carousel-holder">
  <div class="carousel">
   <mat-spinner *ngIf="slides.length === 0" diameter="50"></mat-spinner>
    <mat-carousel [autoplay]="true" color="accent" maxWidth="20" [loop]="true" [hideArrows]="false"
      [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
      <mat-carousel-slide *ngFor="let slide of slides | sortBy:['date', 'DESC']; let i = index"  [image]="slide.featured_image_url" overlayColor="#000000"
        [hideOverlay]="true" slides="15">
        <div *ngIf="slide.excerpt.rendered"
         class="carousel-item-description"><span class="description-text" [innerHTML]="slide.excerpt.rendered"></span></div>
      </mat-carousel-slide>

    </mat-carousel>
  </div>
</div>